*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas{
    display: none;
}

body{
    height: 100vh;
}

.qrContainer{
    width: 15em;
    display: flex;
    flex-direction: column;
}

.searchHistory{
    padding: 0;
}

.searchHistoryContainer button{
    max-width: 15em;
    margin: .1em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 20px;
}